@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

/* 고객센터 임시 css입니다 */

h1 {display: block; font-size: 3em !important; margin-top: 0.67em !important; margin-bottom: 0.67em !important; margin-left: 0 !important; margin-right: 0 !important; font-weight: bold !important;}

#menu-bar {width: 250px;  padding-left: 15px;}
.menu-list {padding: 0px; list-style: none;}
.menu-list li{padding: 0px; font-family: 'Noto Sans KR', sans-serif; font-size: 18px; font-weight: normal;}
.menu-list li:first-child {margin: 20px 0px;}

/* 메뉴바 텍스트 */
a:link {color : block; text-decoration: none;}
a:visited{color #666;  text-decoration: none;}
a:hover{color:red;  text-decoration: none;}
a:active{color:red;    text-decoration: none;}

/* QnaContent.jsp */
.serviceContent thead .th01,th02,th03,th04 {background-color: #eee;  text-align: center;}
.serviceContent thead .th01,th02,th03,th04 {width:100px;}
.editdelete {align:right;}
/* QnaList.jsp */
.btn-outline-primary {color: #712A2A;border-color: #712A2A;border-radius: 4px;}
.qnaTotal .ui-accordion .ui-accordion-content {border-radius: 4px;border: 1px solid #712A2A;}
.qnaTable thead {background-color: #eee;  text-align: center;}
.qnaTable thead .th01{width: 10px; }  
.qnaTable thead .th02{width: 75px; }  
.qnaTable thead .th03{width: 15px; }  
.qnaPage .warp {display: flex;}
.qnaBar {width: 200px;}
.qnaTotal {width: 100%;}
.serviceTotal {width: 100%;}
.qnaTotal .searchTool {display: flex; justify-content: right;}
.qnaTotal .searchSelect, .qnaTotal .searchInput, .searchSubmit {height: 30px; border-radius: 4px; color: #712A2A; border-color: #712A2A;}
.qnaTotal .searchInput {border: 1px solid #000;}
.qnaTotal .searchInput:hover {border: 1px solid #712A2A;}
.qnaTotal .searchInput:focus {border: 1px solid #712A2A;}
.qnaTotal .searchSubmit {padding: 0px 12px;}
.qnaTotal .searchInput { margin : 10px auto;}




/*아코디언 부분*/
.Qnaeditdelete{position: absolute; bottom:10px; right:10px ;text-align:right;}
.qnawrite{margin : 10px auto;}
.fa {font-size:16px; color:red;}
#accordion p{font-size:16px;color:black;}
#accordion .titlebg {border-radius: 4px; background-color: #712A2A; border: 1px solid #712A2A; padding: 10px 30px; margin: 30px 0 0 0;}
#accordion .titlebg:first-child {margin-top:0;}
#accordion .titlebg .ui-icon {position: absolute; right: 25px; top: 50%; transform: translateY(-50%); }
#accordion .titlebg .ui-icon, #accordion .titlebg .ui-widget-content .ui-icon {background-image: url("/resources/img/serviceImg/ui-icons_ffffff_256x240.png");}
#accordion .titleheader {font-size:16px;color:white !important;} 
#accordion .titlefa {font-size:16px;color:white !important; margin-right:15px;} 
.qnaTotal .ui-accordion {margin-bottom:50px;}
.qnaTotal .ui-accordion .ui-accordion-content { border: 1px solid #712A2A;}
#accordion .btn-primary {color: #fff;background-color: #712A2A; border: 1px solid #712A2A;}




/* ServiceList.jsp */
.serviceTable thead {background-color: #712A2A;  text-align: center; } 
.serviceTable thead th {color:#fff; border-radius: 5px;}
.serviceTable thead .th01{width: 3px; border-radius: 5px; }  
.serviceTable thead .th02{width: 78px; border-radius: 5px;}  
.serviceTable thead .th03{width: 2px; border-radius: 5px;}  
.serviceTable thead .th04{width: 15px; border-radius: 5px;} 
.serviceTable thead .th05{width: 2px; border-radius: 5px;} 
.servicePage .warp {display: flex;}
.serviceBar {width: 200px;}
.serviceTotal {width: 100%;}
.serviceTotal .searchTool {display: flex; justify-content: right;}
.serviceTotal .searchSelect, .serviceTotal .searchInput, .searchSubmit {height: 30px; border-radius: 4px; color: #712A2A; border-color: #712A2A;}
.serviceTotal .searchInput {border: 1px solid #000;}
.serviceTotal .searchInput:hover {border: 1px solid #712A2A;}
.serviceTotal .searchInput:focus {border: 1px solid #712A2A;}
.serviceTotal .searchSubmit {padding: 0px 12px;}
.serviceTotal .searchInput { margin : 10px auto;}

/*servicecontent.jsp*/
.servicecontent .btn-primary {color: #fff;background-color: #712A2A;border: 1px solid #712A2A;}



/* 모바일 */
@media screen and (max-width: 600px) {
	h1 {margin: 30px !important; font-size: 30px !important;}
	.servicePage .warp {padding-top: 0;}
	.qnaPage .warp {padding-top: 0;}
	
	.servicePage .warp {display:block;}
	.servicePage .warp > div {width:100%;}
	.serviceBar {margin-bottom:30px;}
	.serviceBar .nav {display:block; overflow:hidden;}
	.serviceBar .nav > li {display:inline-block; float:left; width:50%;}
	.serviceBar .nav > li > a {padding: 15px 0; text-align: center; border:1px solid #ddd;}
	.serviceBar .nav > li:first-child > a {border-right:0;}
	
	.serviceTotal {}
	.serviceTotal .searchTable{margin-bottom:30px;} 
	.serviceTotal .searchTable > * {width:100%; height:45px; text-indent: 10px; margin: 0 0 5px;}
	.serviceTotal .searchTable > *:last-child {margin-bottom:0;}
	.serviceTotal .searchSubmit {text-indent:0;}
	
	
	
	.qnaPage .warp {display:block;}
	.qnaPage .warp > div {width:100%;}
	.qnaBar {margin-bottom:30px;}
	.qnaBar .nav {display:block; overflow:hidden;}
	.qnaBar .nav > li {display:inline-block; float:left; width:50%;}
	.qnaBar .nav > li > a {padding: 15px 0; text-align: center; border:1px solid #ddd;}
	.qnaBar .nav > li:first-child > a {border-right:0;}
	
	.qnaTotal {}
	.qnaTotal .searchTable{margin-bottom:30px;} 
	.qnaTotal .searchTable > * {width:100%; height:45px; text-indent: 10px; margin: 0 0 5px;}
	.qnaTotal .searchTable > *:last-child {margin-bottom:0;}
	.qnaTotal .searchSubmit {text-indent:0;}
	
	.serviceTotal .searchTool {display:block; width:100%;}
	.qnaTotal .searchTool {display:block; width:100%;}
	.qnaTotal .ui-accordion .ui-accordion-content {height: auto !important;}
	
}

@media screen and (max-width: 400px) {
}