@charset "UTF-8";

/*  trade.jsp */
/*  TradeInsert.jsp */
.custom-select{	border-radius: 0;}
div#proBox{	margin-top: auto !important;}
.form-control{	border : 1px solid rgba(88,166,166,0.4);	border-radius: 0;}
.imgBox{	margin : 0 auto;	padding : 0;	text-align: center;}
.input-group-text{	background-color :  rgba(88,166,166,0.4) ;}
.media{	border-top : 1px solid rgba(88,166,166,0.4);	border-bottom: 1px solid rgba(88,166,166,0.4);}
#imgage-show{text-align : center;} 

/* tradelist.jsp */
.content-container .wrap{/* 	border : 1px solid #ddd; */}
.content-container .warp .sectionBox{}
.content-container .warp .sectionBox .flexContainer{display : table; flex-wrap: wrap; width: calc(100% + 50px); margin-left: -25px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer{display: inline-block; width : 300px; height:320px; padding: 8px; margin: 0 25px; border-radius: 15px; border: 2px solid #581919 !important;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer:hover {border: 2px solid #af9999 !important; background-color : rgba(88,166,166,0.2);} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listContainerhover:hover::after{	background-color : rgba(88,166,166,0.2);}
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent{border-top : 1px solid #ddd; padding-top:10px; margin:10px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > h4 {font-size: 14px; display: inline-block;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > h4 > span {display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 258px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > p {font-size: 14px; display: inline-block; text-overflow: ellipsis; white-space: nowrap; overflow: hidden; width: 258px;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > p.trade_areaInfo {} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > p.trade_areaInfo > i {font-size: 13px; font-style:normal;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent .untitledchoco{ width : 250px; }
.content-container .warp .sectionBox .flexContainer .listcontainer:first-child {margin-top:0 !important;} /* 2022.05.03 수정 */
.content-container .warp .sectionBox .flexContainer .listcontainer:nth-child(3n+1) {margin-top:30px;} /* 2022.05.03 수정 */
 
 /* hd menu Bar */
 .menuBox .container .categoryList {position : relative; font-size : 16px;}/* 2022.05.03 수정 */
 .menuBox .container .categoryList .menuLink{ position :absolute; right : 0px; top : 8px; }
 .menuBox .container .categoryList .menuLink:hover{ cursor: pointer; position :absolute; right : 0px; top : 8px; }
 .menuBox .container .categoryList .categoryItem { margin :  auto 0; }
 .menuBox .container .categoryList .categoryItem :hover { margin :  auto 0;  color : #58a6a6;}
 .menuBox .container .categoryList .categoryItem .categoryToggle { float : left; margin : auto 0; height:50px; line-height:50px;}
 .menuBox .container .categoryList .categoryItem .categoryToggle:hover { float : left; margin : auto 0; color : #58a6a6;}
 .menuBox .container .categoryList .categoryItem .categoryToggle .categoryDropdown {}
 .menuBox .container .categoryList .categoryItem .categoryToggle .categoryDropdown #bannerContainer{ clear : both;}
 /* bannerSearchBox */
#bannerContainer .slick-background .banColor .banSearchBox {margin-top : 20px; position : relative;}
#bannerContainer .slick-background .banColor .banSearchBox form {display:inline-block; width: 350px; height: 40px; border : 3px solid white; }
#bannerContainer .slick-background .banColor .banSearchBox form .searchInput{ padding : 5px;  width: 344px; height: 34px; border:0px; background-color: transparent; color : white;}
#bannerContainer .slick-background .banColor .banSearchBox form .searchInput::placeholder{ font-size : 15px; color : white;}
#bannerContainer .slick-background .banColor .banSearchBox form .searchBtn {width: 20px; height: 20px; background-size: contain;  text-indent: -9999px;  position: absolute; left: 370px; top: 50%; transform: translateY(-50%);}

/* 2022.05.03추가 */
.bannerConBox {display: block; height: 440px;}
.listContainerhover {width:280px; height:189px; overflow:hidden; position:relative; border-radius: 8px;}
.listContainerhover img {position:absolute; width:100%; height: 100%; object-fit: cover; left:50%; top:50%; transform: translate(-50%,-50%);}
 
/* usertradeprofile.jsp */
.cardBox{ margin : 0 auto;}

/* 2022.05.07 추가 */
.tradeImgBox {height: 0;}
.tradeImgBox > .img {}
.update_tradeImg .imgBox {height:500px;}
.update_tradeImg .imgBox > img {width: 100%; height: 100%; visibility: visible; object-fit: contain;}


/* 2022.05.08 */
/* 태블릿 */
@media screen and (max-width: 1200px) {
	.header {padding-bottom: 70px;}
	.header .searchBox {margin-left: 0; padding-top: 0; position: absolute; left: 0; top: 130px; width: 100%;}
	.header .searchBox form {width: 100%;}
	.header .searchBox form .searchInput {width: calc(100% - 30px);}

	.container {margin: 0 60px; width: calc(100% - 120px); max-width: inherit;}
	.content-container .warp .sectionBox .flexContainer {width: calc(100% + 3.3333%); margin-left: -1.66667%;}
	.content-container .warp .sectionBox .flexContainer .listcontainer {width:30%; margin: 0 1.6667%;}
	
	#bannerContainer .bannerInner {margin: 0 60px; width: calc(100% - 120px);}
	#bannerContainer .bannerInner .bannerSlide {width: 300px; height: 211px; top:195px; right: 50%; margin-right: -150px;}
	#bannerContainer .bannerInner .bannerSlide .slick-slider .slick-list {width: 300px; height: 211px;}
	#bannerContainer .bannerInner .slick-slider .slick-list .slick-track>div .slideImg {width:100%;}
	
	#bannerContainer .slick-background {text-align:center;}
	#bannerContainer .slick-background .bannerWrap {margin: 0 60px; width: calc(100% - 120px); padding: 40px 0;}
	
	.listContainerhover {width:100%;}
	.listContainerhover img {width:100% !important;}
	
	
	.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > h4 {display:block;}
	.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > h4 > span {width:100%;}
	.content-container .warp .sectionBox .flexContainer .listcontainer .textcontent > p {width:100%;}
}


/* 태블릿2 */
@media screen and (max-width: 780px) {
	.header .logoBox .logo {width:150px; height:75px;}	
	.header .searchBox {top: 90px;}
	
	.content-container .warp .sectionBox .flexContainer {width: calc(100% + 2%); margin-left: -1%;}
	.content-container .warp .sectionBox .flexContainer .listcontainer {width:48%; margin:0 1%;}
	.content-container .warp .sectionBox .flexContainer .listcontainer:nth-child(3n+1) {margin-top: 0;}
	.content-container .warp .sectionBox .flexContainer .listcontainer:nth-child(2n+1) {margin-top: 15px;}
	
}

/* 모바일 */
@media screen and (max-width: 600px) {
	.header .container {display: block; text-align: center;}
	.header .container > div {width:100%;}
	.header .hdMenuBox{position: inherit; top: auto; transform: none;}
	.header .searchBox {top:135px;}
	
	.content-container .warp .sectionBox .flexContainer {width: 100%; margin-left:0;}
	.content-container .warp .sectionBox .flexContainer .listcontainer {width:100%; margin:10px 0 0 0;}
	.content-container .warp .sectionBox .flexContainer .listcontainer:nth-child(3n+1) {margin-top: 10px;}
	.content-container .warp .sectionBox .flexContainer .listcontainer:nth-child(2n+1) {margin-top: 10px;}
	
	
}